<div class="row header">
  <div class="animated 1 bounceInLeft">
  <h1>Cinnamon Burn</h1>
    <strong><em>A Clash of Clans war clan</em></strong>
  </div>
    <button ui-sref="home" type="submit" class="btn menu-row">Home</button>
    <button ui-sref="clanInfo" type="submit" class="btn menu-row">Player Stats</button>
    <button ui-sref="rules" type="submit" class="btn menu-row">Rules</button>
    <button ui-sref="about" type="submit" class="btn menu-row">About Us</button>
    <button ui-sref="leaders" type="submit" class="btn menu-row">Leaders</button>
    <button ui-sref="videos" type="submit" class="btn menu-row">Videos</button>
</div>
