<div class="col-md-4 sideBar">
  <h3>Update member info:</h3>
  <form action="/update_member" method="post">
  <div class="form-group">
      <label for="member_name">Member Name:</label>
      <input type="text" name="member_name" class="form-control" required>
  </div>
  <div class="form-group">
      <label for="member_rank">Rank</label>
      <select class="add-rank">
          <option value="Member">Member</option>
          <option value="Elder">Elder</option>
          <option value="Co-Leader">Co-Leader</option>
          <option value="Leader">Leader</option>
      </select>
      <div class="form-group">
          <label for="member_join">Join Date:</label>
          <input type="date" name="member_join" class="form-control" required>
      </div>
  </div>
  <button type="submit" class="btn btn-success" formaction="/add_member">Add</button>
  <button type="submit" class="btn btn-warning">Update</button>
</div>
